
.pet-container {
    border: 2px solid black;
    border-radius: 25px;
    text-align: left;
    width: 80%;
    padding: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button {
    margin-left: 10px;
}
.top-line h3 {
    display: inline-block;
}
.top-line {
    display: inline-block;
}
#top-line-text {
    display: inline-block;
    margin-right: 100px;
}